body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #a040bd;
  line-height: 1.6;
  background-color: #f7f7f7;
}

h1 {
  color: #f09cf0;
}

p {
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
